/* variables */
:root {
  --primary-font-color: #eee;
  --secondary-font-color: #aaa;
  --primary-background-color: #1a2026;
  --secondary-background-color: #1a1f38;
  --drink-name-background-color: #163759;
}

/* basic reset */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;

  display: flex;
  flex-direction: column;

  color: var(--primary-font-color);
  background: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* reuse codes  */
.live-music-content,
.spice-it-up-container,
.theme-drink-list ul li,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}

/* coding */
header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

nav,
.header-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  align-items: center;
}

.logo {
  font-size: 2.5em;
  margin-left: 0.4em;
}

#toggle,
.bar-menu {
  display: none;
}

.nav-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.nav-container ul li {
  margin: 1em;
  font-size: 1.4em;
}

.header-main {
  height: fit-content;
  width: 80%;
  margin: auto;
}

.store-name {
  font-size: 5vw;
}

.header-main-text h3 {
  margin: 0 0 1.5rem 0;
}

.header-main-text p {
  font-size: 1.8em;
}

.live-music-content {
  padding: 5em;
  text-transform: uppercase;
  text-align: center;
}

.live-music-content h3 {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid;
  border-image-source: linear-gradient(
    45deg,
    rgb(0, 143, 104),
    rgb(250, 224, 66)
  );
  border-image-slice: 1;
  padding-bottom: 0.6em;
}

.live-music-content h4 {
  margin: 1em 0;
  text-align: center;
}

.live-music-content p {
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 1rem 0;
}

.live-music-content span {
  font-size: 2em;
  margin: 2rem 0;
  padding: 10px 20px;
  background: rgb(0, 143, 104);
  border-radius: 15px;
  cursor: pointer;
}

.live-music-content span:hover {
  background: rgba(0, 143, 104, 0.2);
}

.live-music-img {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.pexels.com/photos/1652353/pexels-photo-1652353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat center;
  background-size: cover;
}

.spice-it-up-container {
  height: fit-content;
  background: var(--secondary-background-color);
  text-align: center;
}

.spice-it-up-header {
  margin-top: 2em;
}

.spice-it-up-header h3 {
  text-transform: uppercase;
}

.custom-drink-container h4 {
  margin: 1em 0;
}

.custom-drink-container p {
  font-size: 1.5em;
  margin: 1em auto 3em auto;
  width: 60%;
}

.theme-drink-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)),
    url("https://images.pexels.com/photos/5412/water-blue-ocean.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat;
  background-size: cover;
}

.theme-title {
  width: 90%;
}

.theme-title h3 {
  margin: 0.5em 0;
}

.theme-title .current-theme-text {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 3px solid var(--primary-font-color);
}

.theme-drink-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 5em 0;
  gap: 1.5em;
  width: 90%;
  margin: 0 auto;
}

.theme-drink-list ul li {
  position: relative;
}

.theme-drink-list img {
  width: 90%;
  max-width: 100%;
  height: auto;
}

.theme-drink-list .drink-name {
  width: 90%;
  background: var(--drink-name-background-color);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-drink-list span {
  padding: 0.3em;
}

.find-us-content {
  width: 70%;
  margin: auto;
  padding: 2em;
}

.find-us-content h3 {
  font-size: 2.5em;
}

.find-us-content ul li {
  margin: 1.5em 0;
}

.find-us-content h4 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.find-us-content p,
.find-us-content a {
  font-size: 1.2em;
  color: var(--secondary-font-color);
}

.find-us-content a:hover {
  color: var(--primary-font-color);
}

.find-us-map img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-media a {
  display: block;
  margin: 0.3em 0;
}

.find-us-map-img {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("https://images.pexels.com/photos/408503/pexels-photo-408503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      no-repeat center;
  background-size: cover;
}

footer {
  background: var(--secondary-background-color);
  width: 100%;
  padding: 1em;
  color: var(--secondary-font-color);
}

.copyright,
.footer-links ul {
  display: flex;
  margin: 0.3em auto;
  justify-content: center;
}

.copyright p {
  margin: 0 0.1em;
}

.footer-links ul li {
  padding: 0 1em;
  border-right: 2px solid var(--secondary-font-color);
}

.footer-links ul li:last-child {
  border: none;
}

.footer-links ul li:hover {
  color: var(--primary-font-color);
}

/* bar-menu media query */
@media only screen and (max-width: 980px) {
  nav {
    background: var(--primary-background-color);
    grid-template-columns: auto 1fr;
  }
  .bar-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    cursor: pointer;
  }

  .nav-container {
    display: none;
  }

  .nav-container ul {
    display: flex;
    flex-direction: column;
    background: var(--primary-background-color);
  }

  .nav-container li {
    transition: .3s all ease;
  }

  .nav-container ul li:hover {
    opacity: 0.7;
  }

  #toggle:checked ~ .nav-container {
    position: absolute;
    display: block;
    top: 39px;
    width: 100%;
  }
}


